*{
    box-sizing: border-box;

}

body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;

}

.topo{
    text-align: center;
    font-size: 1rem;
    margin-top: 30px;
    
}
.topo a{
    text-decoration:none;
    color:black;
}
.link{
    text-align: right;
    
}
.link a{
    text-decoration: none;
    padding:15px;
    background-color: black;
    border:5px;
    border-radius: 7px;
    color:white;
    margin-right: 20px;
   
}
.link a:hover{
    background-color: white;
    color:black;
    border:5px solid black;
    border-radius: 7px;

}
header{
    display:flex;
    flex-flow:row wrap;
    width:90%;
   /*border:1px solid red;*/
    margin:auto auto;
    margin-top: 30px;
}
input{
    height:120px;
    font-size: 2rem;
    width: 80%;
    padding-left:10%;

}
button.add{
    width: 20%;
    cursor: pointer;
    background:green;
    color:white;
    font-weight:bold;
    border:none;
    height:120px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
}

main{
    display:flex;
    flex-flow: row wrap;
    width:90%;
    margin: auto auto;
    /*border:1px solid blue;*/
    padding-top:40px;

}
.item{
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
    background: white;
    height: 80px;
    width: 100%; 
    box-shadow: 0 0 20px #ccc;
    margin-bottom:2%;
    cursor:pointer;
}
.item.clicado{
    background: #a7ff8c;
}
.item.clicado .item-nome{
    text-decoration: line-through;
    color:gray;

}
.item-icone{
    flex:20%;
   /* border:1px solid orange;*/
    text-align:center;
    font-size: 2rem;
}
.item-nome{
    flex:55%;
    /*border:1px solid deeppink;*/
    font-size: 20px;
    font-weight: bold;
}
.item-botao{
    flex:25%;
   /* border:1px solid green;*/
}
.delete{
    background-color: red;
    color:white;
    border:none;
    padding:10px;
    height:80px;
    width:100%;
    cursor:pointer;
}
.fa-circle-check{
    color:green;
}
  