*{
    margin:0;
    padding: 0;
}
.cabeçalho{
    padding:50px;
    background-color: blue;
    color:white;
}
.topo{
    text-align: center;

}
.link{

}
.link a{
    text-align: right;
    color:white;
    text-decoration: none;
}
.menu a{
    text-align: center;
    text-decoration: none;
    color:white;
}