body{
    font-family: Arial, Helvetica, sans-serif;
    margin:20px;
    position: relative;

}
.topo{
    text-align: center;

}
.topo a{
    text-decoration: none;
    color:black;
}
input[type="text"]{
    margin-top: 5px;
    padding: 2px;
    width:100%;
    box-sizing: border-box;
}
table{
    width:100%;
    border-collapse:collapse;
    margin-top:10px;
}
th, td{
    border:1px solid #ddd;
    padding:8px;
    text-align: center;

}
th{
    background-color: #f2f2f2;

}
button{
    display: block;
    margin:10px auto;
    padding: 8px 16px;
    background-color: #007bff;
    color:white;
    border:none;
    cursor:pointer;
}

#modal {
    display: none;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 30%;
    width: 400px;
    height: 300px;
    flex-direction: column;
    background: #1F1F1F;
    padding: 8px;
    border-radius: 8px;
    color:white;
    

    input {
        border-radius: 8px;
        height: 30px;
    }
}